
* {
    font-family: Arial, Verdana, sans-serif;
    color: #573f27;
    text-align: center;
}

#nav,
#feature,
.article,
.photog,
#footer {

    background-color: #efefef;
    height: 50px;


}


.photog {

    background-color: #efefef;
    margin-top: 10px;


}

.photog2 img {


    margin-left: 300px;


}


.article {
    height: 350px;
}

.photog {
    height: 350px;
    width: 200px;
}

#feature {
    height: 150px;
}

li {
    display: inline;
    padding: 5px;
}

.slider-inner {
    /* width: 194px;
    height: 300px; */
    position: relative;
    overflow: hidden;
    float: left;
}

.slider-inner img {
    display: none;


}

.slider-inner img.active {
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    width: 194px;

}

.prev,
.next {
    float: left;
    margin-top: 130px;
    cursor: pointer;
    background-color: black;

}

.prev {
    position: relative;
    margin-right: -45px;
    z-index: 100;
    color: white;

}

.next {
    position: relative;
    margin-left: -10px;
    z-index: 100;
    color: white;
}


.slider-inner1 {
    /* width: 194px;
    height: 300px; */
    position: relative;
    overflow: hidden;
    float: left;
}

.slider-inner1 img {
    display: none;
    width: 194px;
    height: 500px;
    margin-left: 0px;
}

.slider-inner1 img.active1 {
    display: inline-block;
    margin-left: 0px;

}

.prev1,
.next1 {
    float: left;
    margin-top: 130px;
    cursor: pointer;

}

.prev1 {
    position: relative;
    margin-right: -45px;
    z-index: 100;
    color: white;
    background-color: black;
}

.next1 {
    position: relative;
    margin-left: -10px;
    z-index: 100;
    color: white;
    background-color: black;
}

.slider-inner3 {
    /* width: 194px;
    height: 300px; */
    position: relative;
    overflow: hidden;
    float: left;
}

.slider-inner3 img {
    display: none;


}

.slider-inner3 img.active3 {
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    width: 194px;

}

.prev3,
.next3 {
    float: left;
    margin-top: 130px;
    cursor: pointer;
    background-color: black;

}

.prev3 {
    position: relative;
    margin-right: -45px;
    z-index: 100;
    color: white;

}

.next3 {
    position: relative;
    margin-left: -10px;
    z-index: 100;
    color: white;
}



.slider-inner2 {
    /* width: 194px;
    height: 250px; */
    position: relative;
    overflow: hidden;
    float: left;

}



.slider-inner2 img {
    display: none;
    width: 256px;
    height: 194px;
    margin-left: 0px;
}

.slider-inner2 img.active2 {
    display: inline-block;
    margin-left: 0px;
    width: 256px;
    height: 194px;

}

.prev2,
.next2 {
    float: left;
    margin-top: 130px;
    cursor: pointer;
    color: white;
    background-color: black;
}

.prev2 {
    position: relative;
    margin-right: -45px;
    z-index: 100;
    background-color: black;
}

.next2 {
    position: relative;
    margin-left: -10px;
    z-index: 100;
    background-color: black;
}



.slider-inner4 {
    /* width: 194px;
    height: 300px; */
    position: relative;
    overflow: hidden;
    float: left;

}



.slider-inner4 img {
    display: none;
    width: 256px;
    height: 194px;
    margin-left: 0px;
}

.slider-inner4 img.active4 {
    display: inline-block;
    margin-left: 0px;
    width: 256px;
    height: 194px;

}

.prev4,
.next4 {
    float: left;
    margin-top: 130px;
    cursor: pointer;
    color: white;
    background-color: black;
}

.prev4 {
    position: relative;
    margin-right: -45px;
    z-index: 100;
    background-color: black;
}

.next4 {
    position: relative;
    margin-left: -10px;
    z-index: 100;
    background-color: black;
}







.PicHolder {

    position: relative;
    margin-left: 50px;


}

.PicHolder1 {

    position: relative;
    margin-left: 120px;
    margin-top: 0px;


}

.PicHolder3 {

    position: relative;
    margin-left: 20px;
    margin-top: 0px;


}

.grid_6 {

    margin-top: 10px;
    background-color: #efefef;
    height: 300px;

}


.grid_4 {

    background-color: #efefef;
    height: 350px;

}

#header {

    margin-bottom: 10px;

}

.joe-nav {

    margin-top: 20px;
    padding: 10px 0px 10px 0px;
}
