{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="boxy">

                <div class="PicHolder">
                    <div class="slider-outer">
                        <p class="prev">
                           <  </p>
                    </div>
                    <div class="slider-inner">
                        <img src="{% static "simplesocial/images/PA270105.jpg" %}" class="active" alt="no pic"
                            style="width:194px;height:256px;">
                        <img src="{% static "simplesocial/images//PC040174.jpg" %}" alt="no pic" style="width:194px;height:256px;">
                        <img src="{% static "simplesocial/images//PB080422.jpg" %}" alt="no pic" style="width:194px;height:256px;">
                    </div>

                    <div class="slider-outer">
                        <p class="next">
                            > </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<div class="container_12 clearfix">
            <div class="grid_4 photog1">
                <p style="font-size:12px;">Fashion</p>
                <div class="PicHolder">
                    <div class="slider-outer">
                        <p class="prev">
                             </p>
                    </div>
                    <div class="slider-inner">
                        <img src="{% static "media/PA270105.jpg" %}" class="active" alt="no pic"
                            style="width:194px;height:256px;">
                        <img src="{% static "media/PC040174.jpg" %}" alt="no pic" style="width:194px;height:256px;">
                        <img src="{% static "media/PB080422.jpg" %}" alt="no pic" style="width:194px;height:256px;">
                    </div>

                    <div class="slider-outer">
                        <p class="next">
                            > </p>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <p style="font-size:12px;">Beauty</p>
                <div class="PicHolder">
                    <div class="slider-outer">
                        <p class="prev1">
                            < </p>
                    </div>
                    <div class="slider-inner1">
                        <img src="{% static "media/P3040111.jpg" %}" class="active1" alt="no pic"
                            style="width:194px;height:256px;">
                        <img src="{% static "media/PA100290.jpg" %}" alt="no pic" style="width:194px;height:256px;">
                        <img src="{% static "media/PB200509.jpg" %}" alt="no pic" style="width:194px;height:256px;">
                    </div>
                    <div class="slider-outer">
                        <p class="next1">
                            > </p>
                    </div>
                </div>
            </div>
            <div class="grid_4">
                <p style="font-size:12px;">Kids</p>
                <div class="PicHolder3">
                    <div class="slider-outer">
                        <p class="prev3">
                            < </p>
                    </div>
                    <div class="slider-inner3">
                        <img src="{% static 'media/P8290159.jpg' %}" class="active3" alt="no pic"
                            style="width:256px;height:194px;">
                        <img src="{% static "media/P8040110.jpg" %}" alt="no pic" style="width:256px;height:194px;">
                        <img src="{% static "media/D6950E18-B91E-4E79-AFB7-E3530C864F19.jpg" %}" alt="no pic"
                            style="width:194px;height:256px;">
                    </div>
                </div>
                <div class="slider-outer">
                    <p class="next3">
                        > </p>
                </div>
            </div>
        </div>
        <div class="grid_6">
            <p style="font-size:12px;">Theater</p>
            <div class="PicHolder1">
                <div class="slider-outer">
                    <p class="prev2">
                        < </p>
                </div>
                <div class="slider-inner2">
                    <img src="{% static "media/P1220690.jpg" %}" class="active2" alt="no pic"
                        style="width:256px;height:194px;">
                    <img src="{% static "media/PB220500.jpg" %}" class="active3" alt="no pic"
                        style="width:194px;height:256px;">
                    <img src="{% static "media/P1220409.jpg" %}" alt="no pic" style="width:256px;height:194px;">
                    <img src="{% static "media/P1220501.jpg" %}" alt="no pic" style="width:194px;height:256px;">
                </div>
                <div class=" slider-outer">
                    <p class="next2">
                        > </p>
                </div>
            </div>

        </div>
        <div class="grid_6">
            <p style="font-size:12px;">Food</p>
            <div class="PicHolder1">
                <div class="slider-outer">
                    <p class="prev4">
                        < </p>
                </div>
                <div class="slider-inner4">
                    <img src="{% static "media/P6211147.jpg" %}" class="active4" alt="no pic"
                        style="width:256px;height:194px;">
                    <img src="{% static "media/P6020112.jpg" %}" alt="no pic" style="width:256px;height:194px;">
                    <img src="{% static "media/P5242146.jpg" %}" alt="no pic" style="width:256px;height:194px;">
                    <img src="{% static "media/P3281299.jpg" %}" alt="no pic" style="width:256px;height:194px;">
                    <img src="{% static "media/P6281222.jpg" %}" alt="no pic" style="width:256px;height:194px;">
                </div>
                <div class=" slider-outer">
                    <p class="next4">
                        > </p>
                </div>
            </div>

</div>


















{% endblock %}}